<h1>UserForm</h1>

<div class="form" mat-dialog-content>
    <mat-form-field appearance="outline">
        <mat-label>Organization</mat-label>
        <input matInput type="text" [(ngModel)]="data1._id" disabled>
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Description</mat-label>
        <input matInput type="text" [(ngModel)]="data1.organization">
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>customer</mat-label>
        <input matInput type="text" [(ngModel)]="data1.description">
    </mat-form-field>
    <!-- <mat-form-field appearance="outline">
        <mat-label>Insert_Date</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="insert_date">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Insert_User</mat-label>
        <input matInput type="text" formControlName="insert_user">
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Updated_Date</mat-label>
        <input matInput formControlName="updated_date">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Updated_User</mat-label>
        <input matInput type="text" formControlName="updated_user">
    </mat-form-field> -->
    
</div>
<button mat-raised-button color="primary" (click)="UpdatedData()" style="margin-left: 400px;">update</button>
<button mat-raised-button  style="margin-left: 10px;" (click)="onNoClick()">Cancel</button>
